MODEL_BUCKET=<gcs_bucket_name>
MODEL_NAME=<model_name>
GOOGLE_APPLICATION_CREDENTIALS=<gcp_service_account_path>
# Database Configuration
DATABASE_URL=<db_url>
POSTGRES_USER: <postgres_username>
POSTGRES_PASSWORD: <postgres_password>
POSTGRES_DB: <postgres_dbname>

# JWT Secret Key (change this in production!)
SECRET_KEY=<your-secret-key>

# Default Admin Credentials (change these!)
ADMIN_EMAIL=<admin_email>
ADMIN_PASSWORD=<admin_password>

# Model Configuration
MODEL_PATH=<model_path>
