fastapi==0.115.11
uvicorn==0.34.0
tensorflow
pillow==11.1.0
numpy==2.2.3
requests==2.32.3
streamlit==1.43.1
python-multipart==0.0.20
matplotlib==3.10.0
keras==3.10.0
keras-tuner==1.4.2
keras-cv==0.5.0
scipy
google-cloud-storage

# Database
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0

# Authentication
python-jose[cryptography]==3.3.0
# passlib[bcrypt]==1.7.4
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]